@model GestEvent.Models.AdminViewModels
@{

    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "IndexEvenement";
}

<style>

    [hidden] {
  display: none !important;
}

</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header AdminHeader">@Model.Title</h1>
        </div>
    </div>
</div>

<div id="m_monContent" class="AdminContentForm form-horizontal " enctype="multipart/form-data">

    @using (Html.BeginForm("AjoutEvent", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <div class="col-lg-2 control-label">
                <label> Nom : </label>
            </div>
            <div class="col-lg-3">
                @Html.TextBoxFor(model => model.MonEvent.Name, new { @class = "form-control" })
            </div>
            <div class="col-lg-2 control-label">
                <label> Lieu : </label>
            </div>
            <div class="col-lg-3">
                @Html.TextBoxFor(model => model.MonEvent.PlaceName, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 control-label">
                <label> Adresse : </label>
            </div>
            <div class="col-lg-3">
                @Html.TextBoxFor(model => model.MonEvent.Address, new { @class = "form-control" })
            </div>
            <div class="col-lg-2 control-label">
                <label> Date : </label>
            </div>
            <div class="col-lg-3">
                @Html.TextBoxFor(model => model.MonEvent.Date, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 control-label">
                <label> Description : </label>
            </div>
            <div class="col-lg-8">
                @Html.TextAreaFor(model => model.MonEvent.Description, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 control-label">
                <label> Thème : </label>
            </div>
            <div class="col-lg-3">
                @Html.DropDownListFor(model => model.IdThemeSelected, Model.ListTheme.Select(r => new SelectListItem { Text = r.Name, Value = r.Id.ToString() }), new { @class = "form-control" })
            </div>
            <div class="col-lg-2 control-label">
                <label> Durée en Heure : </label>
            </div>
            <div class="col-lg-3">
                @Html.TextBoxFor(model => model.MonEvent.Duration, new { @class = "form-control" })
            </div>
        </div>
            <div class="form-group">
                <div class="col-lg-2 control-label">
                    <label for="Image">Ajouter des images :</label>
                </div>
                <div class="col-lg-3">
                    <input type="button" class="btn btn-default open" data-toggle="modal" data-target="#m_ModalUpload" value="Gestion de fichier" />
                   
                </div>
            </div>

            <div class="modal fade" id="m_ModalUpload" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Gestion de fichier</h4>
                        </div>
                        <div class="modal-body">
                            <div style="padding:20px" class="MainContent">
                                <div class="row" style="margin-bottom:15px">
                                    <div class="col col-lg-2 col-lg-offset-1">
                                        <label class="btn btn-default">
                                            Envoyer <input type="file" name="Image" class="m_Uploader" hidden />
                                        </label>
                                    </div>
                                    <div class="col col-lg-5 coltext">                                      
                                        <input type="text" disabled="disabled" class="textUp form-control" />
                                    </div>
                                    <div class="col-lg-1  colRemove">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div style="padding:20px">
                                    @if (null != Model.MonEvent && null != Model.MonEvent.Images && Model.MonEvent.Images.Count > 0)
                                    {
                                        foreach (var image in Model.MonEvent.Images)
                                        {
                                            <div class="col-lg-3" >
                                                <div style="box-shadow:0px 0px 15px 1px grey; border-radius:5px; min-height:172px" >
                                                   <div class="hovereffect">
                                                       <img src="@image.Path" alt="@image.Name" style="width:100%" />
                                                   </div>                                                   
                                                    @Html.ActionLink("Supprimer", "ImageDelete", "Admin", new { imageId = image.Id, monEventId = Model.MonEvent.Id }, new { @class = "btn btn-danger DeleteImage" })
                                                </div>
                                                
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


            @Html.HiddenFor(Model => Model.MonEvent.Id)
            <input id="m_validateur" type="submit" value="Envoyer" class="btn btn-default" />
    }
</div>

<script>
    $(document).ready(
        function () {
            $("#m_monContent input:text, #m_monContent textarea").first().focus(); // permet de focus sur le premier elem

            $(document).on('change', '.m_Uploader',
                function ()
                {
                    // alert();
                    var Content = $('.MainContent');
                    var Parent = $(this).parents('.row');
                    var ColRemove = Parent.children('.colRemove');
                    var Text = Parent.children('.coltext').children('.textUp');
                    var Clone = Parent.clone();
                    if (Text.val() != '') {  /* rien pour le moment*/}
                    else { Content.append(Clone); Clone.children('.col-lg-2').children('.m_Uploader').val('');}
                    Text.val($(this).val().replace('C:\\fakepath\\', ''));
                    ColRemove.html('<span class="btn btn-danger btnRemove"><i class="fa fa-minus"></i></span>');
                                 
                })
            $(document).on('click', '.btnRemove',
                function ()
                {
                    $(this).parents('.row').remove();
                })
        }

        )
</script>
