@model GestEvent.Models.ConviveViewModel
@{
    ViewBag.Title = "Index";
}

<div class="row" style="text-align: center;padding-top: 30px;">
    <div class="col-sm-2">
        <img src="~/Content/Draw/Design/Logo.png" />
    </div>
    <div class="col-sm-4 col-sm-push-2">
        <h2 id="test" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Parkings les plus proche de chez vous</h2>
    </div>
</div>

<div class="row" style="min-height:450px;margin-top:50px">
    <div class="col-sm-8" style="display:flex">
        <div style="width:1100px;height:450px;background-color:white;margin-left: auto;box-shadow: 0px 0px 15px 1px rgba(128, 128, 128, 0.5);border-radius:2px;padding: 15px;">
            <iframe id="iframe" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d42629.126377540604!2d-1.678067205160248!3d48.10405474665268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sparking+rennes!5e0!3m2!1sfr!2sfr!4v1519135034052"
                    style="width:100%; height:100%;border:0;" frameborder="0" allowfullscreen></iframe>

            <div id="map-canvas" style="height:100%; width:0;height:100%;"></div>

        </div>
    </div>
    <div class="col-sm-4" style="display:flex">
        <div class="col-sm-11" style="height:450px;background-color:white;margin-right: auto;box-shadow: 0px 0px 15px 1px rgba(128, 128, 128, 0.5);border-radius:2px">
            @if (Model.LstParkings.Count != 0 || Model.Parking.ParkingInfo != null)
            {
                <div class="row col-sm-12 btn-group" style="height:45px;margin: 0;">
                    <a href="@Url.Action("Index", new { rubric = "Research" })" class="col-sm-6 btn btn-default" style="height:100%;display:flex">
                        <p style="margin:auto">Recherche</p>
                    </a>
                    <a onclick="DisplayRubric('@Url.Action("DisplayRubric")', 'ParkingA', '@Model.Event.Id')" class="col-sm-2 btn btn-default btnOnglet" style="height:100%;display:flex">
                        <p style="margin:auto">A</p>
                    </a>
                    <a onclick="DisplayRubric('@Url.Action("DisplayRubric")', 'ParkingB', '@Model.Event.Id')" class="col-sm-2 btn btn-default btnOnglet" style="height:100%;display:flex">
                        <p style="margin:auto">B</p>
                    </a>
                    <a onclick="DisplayRubric('@Url.Action("DisplayRubric")', 'ParkingC', '@Model.Event.Id')" class="col-sm-2 btn btn-default btnOnglet" style="height:100%;display:flex">
                        <p style="margin:auto">C</p>
                    </a>
                </div>
            }

            @Html.Partial(Model.ViewRubricUrl, Model)
        </div>
    </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyAlK8xB5HDMISLLsJdsRVIIFJFhZoXeZws&libraries=geometry,places,drawing&ext=.js"></script>

<script>
    var latAddresseUser = @Html.Raw(Json.Encode(Model?.LatLongAdresseDepartUser));
    var latlongParkingDest = @Html.Raw(Json.Encode(Model?.LatlongParkingDest));
    var latLongEvent = @Html.Raw(Json.Encode(Model?.LatLongEvent));
    var nameEvent = @Html.Raw(Json.Encode(Model?.Event.Name));

    function DisplayRubric(urlAction, pRubric, idEvent) {
        $.ajax({
            url: urlAction,
            contentType: "application/json",
            dataType: 'JSON',
            data: { rubric: pRubric, idEvent: idEvent },
            success: function (result) {
                $("#evenementName").html(result.Event.Name);
                $("#evenementAddress").html(result.Event.Address);
                $("#evenementDuration").html(result.Event.Duration + "Heure(s)");
                $("#parkingName").html(result.Parking.ParkingInfo.Name);
                $("#parkingMaxPlaces").html("Nb place Maximun : " + result.Parking.ParkingInfo.MaxPlaces);
                $("#parkingFreePlaces").html("Nb place libre : " + result.Parking.ParkingInfo.FreePlaces);
                $("#parkingDitance").html("Distance : " + result.Parking.ParkingInfo.DistanceFromStart + " Km/h");
                latlongParkingDest = result.LatlongParkingDest;
                $('#btnGoToParking').click();
            },
            error: function (xhr, textstatus, errorthrown) {
                console.log(textstatus);
            }
        })
    }

    function mapLocation() {
        var directionsDisplay;
        var directionsService = new google.maps.DirectionsService();
        var map;

        function initialize() {
            directionsDisplay = new google.maps.DirectionsRenderer();
            var rennes = new google.maps.LatLng(48.1102564, -1.6480732);
            var mapOptions = {
                zoom: 12,
                center: rennes
            };

            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            var marker = new google.maps.Marker({
                position: {lat: latLongEvent[0], lng: latLongEvent[1]},
                map: map,
                title: nameEvent
            });

            directionsDisplay.setMap(map);
            google.maps.event.addDomListener(document.getElementById('btnGoToParking'), 'click', calcRoute);
        }

        function calcRoute() {
            $("#map-canvas").css("width", "100%");
            var start = new google.maps.LatLng(latAddresseUser[0], latAddresseUser[1]);
            var end = new google.maps.LatLng(latlongParkingDest[0], latlongParkingDest[1]);
            var bounds = new google.maps.LatLngBounds();
            bounds.extend(start);
            bounds.extend(end);
            map.fitBounds(bounds);
            var request = {
                origin: start,
                destination: end,
                travelMode: google.maps.TravelMode.DRIVING
            };
            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                    directionsDisplay.setMap(map);
                } else {
                    alert("Directions Request from " + start.toUrlValue(6) + " to " + end.toUrlValue(6) + " failed: " + status);
                }
            });
            $("iframe").css("display", "none")
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    }
    mapLocation();

</script>
