@model GestEvent.Models.ConviveViewModel
@{
    ViewBag.Title = "Parking";
}

<h4 id="evenementName" style="text-align:center;margin-top:40px">@Model.Event.Name</h4><br />

<p id="evenementAddress" style="text-align:center">@Model.Event.Address</p>
<p id="evenementDuration" style="text-align:center">@Model.Event.Duration Heure(s)</p>

<h3 id="parkingName" style="text-align:center;margin-top:40px">Parking : @Model.Parking.ParkingInfo.Name</h3><br />

<p id="parkingMaxPlaces" style="text-align:center">Nb place Maximun : @Model.Parking.ParkingInfo.MaxPlaces</p>
<p id="parkingFreePlaces" style="text-align:center">Nb place libre : @Model.Parking.ParkingInfo.FreePlaces</p>
<p id="parkingDitance" style="text-align:center">Distance : @Model.Parking.DistanceFromStart Km/h</p><br /><br />

<div style="text-align:center;">
    <p id="tarifTotal" class="col-sm-4 col-sm-push-2" style="display:inline-block">Tarif total : @Model.Parking.CalculatedParkingPrice  €</p>
    <p id="tarifHeure" class="col-sm-4 col-sm-push-2" style="display:inline-block">Tarif/Heure : @Model.Parking.Parking.Prices[0].Tarif</p>
</div><br />

<div class="col-sm-12" style="display:flex;margin-top:50px;display:none">
    <button class="btn btn-default" id="btnGoToParking" style="margin-left:auto;margin-right:auto;">Aller à cet endroit</button>
</div>
